*,
*::after,
*::before {
  box-sizing: border-box;
  text-decoration: none;
  margin: none;
  outline: none;
  padding: none;
  list-style: none;
}
body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 90%;
}
a {
  color: black;
}
/* header start */
#header {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem;
  height: fit-content;
  justify-content: space-between;
}
.header-nav {
  /* border: 2px solid red; */
}
.header-nav li {
  display: inline-block;
  margin-left: 2rem;
}
/* header end */
/* main starts */
.main-container-1 {
  /* border: 2px solid red; */
  max-width: 45vw;
  padding: 0.5rem;
  height: fit-content;
  position: relative;
  left: 10rem;
}
.blue {
  color: skyblue;
}
.main-intro-image-container {
  /* border: 2px solid red; */
  width: 95vw;
  margin: auto;
}
.main-intro-image {
  border-radius: 2rem;
  margin: auto;
  width: 100%;
}
.main-container-3 {
  /* border: 2px solid red; */
  width: 40rem;
  padding: 1rem;
}
.container-3-1 {
  /* border: 2px solid red; */
  width: 20rem;
  position: relative;
  left: 10rem;
}
.containter-3-1-1 {
  width: fit-content;
  /* border: 2px solid red; */
  margin-top: 4rem;
}
.containter-3-1-1 p {
  font-size: 0.5rem;
}
.containter-3-1-1-input {
  outline: none;
  height: 2rem;
  border: 1px solid grey;
  border-radius: 0.25rem;
}

.containter-3-1-1-button {
  background-color: skyblue;
  border: none;
  height: 2rem;
  width: 3rem;
  border-radius: 0.25rem;
}
.main-container-4 {
  /* border: 2px solid red; */
  width: 90vw;
  margin: auto;
  padding: 1rem;
}
.main-container-4 > div {
  margin: 0.5rem;
}
.container-header {
  width: 20rem;
  /* border: 2px solid red; */
}
.container-4-2 {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  /* flex-wrap: wrap; */
  /* height: auto; */
  margin: auto;
  flex-wrap: wrap;
}

.container-4-2-common1,
.container-4-2-common2,
.container-4-2-common3 {
  border: 2px solid black;
  width: 264px;
  padding: 1rem;
  border-radius: 1rem;
  margin: 0.5rem;
  border: 1px solid white;
  box-shadow: 0 10px 20px rgba(7, 1, 1, 0.1);
  border-radius: 10px;
}
.container-4-2-button {
  background-color: grey;
  border: none;
  height: 2.5rem;
  border-radius: 0.5rem;
}

.icon-img {
  width: 6rem;
  height: auto;
  margin: 1rem;
}

.main-container-5 {
  width: fit-content;
  margin: auto;
}
.container-5-container {
  display: flex;
  width: 92vw;
  margin: auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.container-5-left {
  position: relative;
  top: 5rem;
}
.container-5-common {
  width: fit-content;
  padding: 0.5rem;
  margin: 5rem 1rem;
}
.container-5-common img {
  width: 38rem;
  border-radius: 0.5rem;
}
/* main ends */

.container-text-photo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: auto;

  margin: auto;
}

.peopePhotos {
  display: flex;
  direction: row;
  justify-content: space-around;
  align-items: center;
  width: fit-content;
}

.photos-peopeleA {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.text-all1 {
  padding: 1rem;
}

.text-first {
  color: #eb5757;
}

.text-second {
  font-size: 2rem;
  /* letter-spacing: 3px; */
}

.text-third {
  font-size: 0.8rem;
}

.quote-by-carlos-tran {
  font-size: 2.3rem;
  margin-left: 6rem;
}

.carlos-image-quote-container {
  width: fit-content;
  display: flex;
  align-items: center;
  margin-left: 8rem;
}

.carlos-name-container {
  margin-left: 2rem;
  padding-right: 4rem;
}

.carlos-image {
  width: 4rem;
  border-radius: 15%;
}

.calros-name-first {
  font-size: 1.2rem;
}

.calros-name-second {
  font-size: 0.6rem;
  color: #828282;
}

/* For email */
.email-label {
  font-weight: 500;
  font-size: 16px;
  color: #828282;
  margin-bottom: 5px;
}
.email-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  background-color: #f2f2f2;
  padding: 5px;
  border-radius: 5px;
}
.email-input {
  flex: 1;
  border: none;
  border-radius: 5px;
  height: 40px;
  color: #828282;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.classPeople-1A {
  margin: 0.5rem;
}

.classPeople-2A {
  margin: 0.5rem;
}

.person-3 {
  margin: 2rem;
}

.classPeople-1A,
.classPeople-2A,
.classPeople-3A {
  border-radius: 15%;
}

.quote-by-carlos1 {
  margin: 2rem;
}

quote-by-carlos-tran {
  font-size: 237%;
  margin-left: 5rem;
}

.footer {
  background-color: black;
  overflow: hidden;
  color: white;
}

.container {
  width: 33.33%;
  float: left;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.footer-container {
  background: #100e1d;
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  color: white;
}
.home-servieces-container {
  list-style: none;
}
.footer-nav {
  color: #ffffff;
  font-size: 18px;
  padding-top: 10px;
}
.edie-name {
  font-weight: 800;
  font-size: 36px;
  color: #f2f2f2;
  margin-bottom: 0px;
}
.social-icons {
  padding-right: 4px;
}
.conatct-container {
  margin-top: 30px;
}

.nav-mobile {
  display: none;
}

.email-container-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  background-color: #f2f2f2;
  padding: 5px;
  border-radius: 5px;
}

@media only screen and (max-width: 480px) {
  .container-5-container {
    display: flex;
    width: 60vw;
    margin: auto;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .container-3-1 {
    width: 20rem;
    position: relative;
    left: 2rem;
  }

  .main-container-1 {
    max-width: fit-content;
    margin: 0 auto;
    left: 1rem;
    position: relative;
  }

  .container-5-common img {
    width: 12rem;
    border-radius: 0.5rem;
  }
  .container-4-2 {
    justify-content: center;
  }

  .container-text-photo {
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }

  .classPeople-1A,
  .classPeople-2A,
  .classPeople-3A {
    border-radius: 15%;
    width: 10rem;
  }

  .container5-img1 {
    width: 10rem;
  }

  .container-5-common img {
    width: 29rem;
    border-radius: 0.5rem;
    position: relative;
    margin: auto;
    left: -6rem;
  }

  .quote-by-carlos-tran {
    font-size: 0.89rem;
    margin-left: -1rem;
  }

  .footer-container {
    /* background: #100e1d; */
    display: flex;
    /* justify-content: space-around; */
    margin-top: 100px;
    color: white;
    /* align-content: center; */
    flex-direction: column;
  }

  .social-media-container {
    margin-left: 2.5rem;
  }

  .containter-3-1-1 {
    width: fit-content;
    margin-top: 4rem;
    margin-left: 4rem;
    margin-bottom: 3rem;
  }

  .carlos-image-quote-container {
    width: fit-content;
    display: flex;
    align-items: center;
    margin-left: 0rem;
  }

  .carlos-image {
    width: 5rem;
    border-radius: 15%;
  }

  .carlos-name-container {
    margin-left: 5rem;
    padding-right: 4rem;
  }
  /* .container-5-container p {
    margin-left: -5rem;
  } */

  .container-5-container p {
    margin-left: -5.9rem;
  }

  .header-nav {
    display: none;
  }

  .nav-mobile {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: row;
    justify-content: space-between;
  }

  .mobile-density {
    width: 2.9rem;
    position: relative;
    top: -1.5rem;
    left: 3rem;
  }

  .head-1 {
    font-size: 1.4rem;
    position: relative;
    left: -1.8rem;
    top: -1.7rem;
  }

  .container-5-container h2 {
    margin-left: -5.9rem;
    margin-top: -1rem;
  }

  .html{
    overflow: hidden; 
  }
}
